ssh_user_rsa_key
**.pem
**.zip
terraform.tfstate.backup
terraform.tfstate
.terraform/
.DS_Store
.#*
.terraform.tfstate.lock.info
modules/sns_alerts/lambda/config.json
**.csr
encrypted.tfvars
env.tfvars
plan.tf
gentls/
scripts/vault/
scripts/ca/
!sample.zip
.idea
